//здесь можем создавать переменные которые будем использовать во всем проекте
// margin-top:map(spaces, s0); пример использование
$spaces:(
  's0':4px,
 's1': 8px,
);
$colors2:(
'buttonAgree': red
);
//Colors
$buttonAgree: red;

$font: 44px;